@CHARSET "UTF-8";

.sketch-save-btn {
	padding: 10px;
	font-size: 25px;
	color: #565656;
	-webkit-transition: color 0.5s, -webkit-transform 0.3s;
    transition: color 0.5s, transform 0.3s;
}

.sketch-save-btn:hover {
	color: #00ccff;
	cursor: pointer;
}

.sketch-title {
	border: 0px;
	box-shadow: none;
	color: #00ccff;
	font-size: 18px;
	font-weight: bold;
}

.sketch-title::-webkit-input-placeholder {
	color: #00ccff;
	font-size: 18px;
	font-weight: bold;
}

.sketch-title:-moz-placeholder {
	color: #00ccff;
	font-size: 18px;
	font-weight: bold;
}

.sketch-title::-ms-input-placeholder {
	color: #00ccff;
	font-size: 18px;
	font-weight: bold;
}

.sketch-box {
	border: 1px solid #000;
}

#sketchData {
	display: none;
	position: absolute;
	top: -1000px;
	left: -1000px;
}

#sketch-detail-img {
	width: 100%;
}