@CHARSET "UTF-8";

/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    right: 0px;
    width: 0;
    height: calc(100% - 52px);
    margin-top: 52px;
    overflow-y: hidden;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sidebar-box {
   padding: 20px;
}

#login-fail {
   font-size: 13px;
}

.get-id-pw {
   margin-top: -10px;
   margin-bottom: 10px;
   text-align: center;
   line-height: 30px;
}

.login-border-bottom {
   position: relative;
   margin-top: 30px;
   border-bottom: 1px solid #9d9d9d;
}

.login-or-box {
   position: absolute;
   width: 70px;
   margin-top: -10px;
   margin-left: 105px;
   text-align: center;
   text-indent: none;
   line-height: 20px;
   background: #fff;
   color: #9d9d9d;
}

.login-or {
   width: 50px;
   text-indent: none;
}

.fb-login {
   margin-top: 30px;
   width: 280px;
   height: 40px;
   padding: 0px;
   background-image: url('../img/facebook_login_btn2.png');
   background-size: contain;
   opacity: 0.8;
}

.fb-login:hover {
   opacity: 1;
}

.goo-login {
   width: 280px;
   height: 40px;
   padding: 0px;
   background-image: url('../img/google_login_btn2.png');
   background-size: contain;
   opacity: 0.8;
}

.goo-login:hover {
   opacity: 1;
}

/* Change with of sidebar from 0 to 250px */
#wrap.menuDisplayed #sidebar-wrapper {
    width: 320px;
}

/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li > a {
    display: block;
    text-decoration: none;
    color: #ff0059;
    font-weight: bold;
}

.sidebar-nav li > a:hover {
   color: #fff;
   font-weight: bold;
    background: #ff5900;
}